
@charset "UTF-8";


@media screen and (min-width: 840px) and  (max-width: 1400px){
    .cabeçalio {
        width: 100%;
        height: 15%;
        position: fixed;
        background: var(--bg-color);
        z-index: 999;
    }
    section{
        margin-right: 10%;
        margin-left: 10%;
    }
    .logo{
        position: relative;
        cursor: default;
        top: 25%;
        width: 28%;
        margin-left: -3rem;
    }
    .nav{
        position: relative;
        top: 78%;
    }
    .nav-list{
        top: 10%;
        width: 20vw;
    }
    .casa {
        background-size: cover;
        background-position: center;
        margin-top: 14%;
        margin-bottom: -41%;
    }
    .social-icons {
        position: relative;
        left: 57%;
        margin-right: 51%;
        bottom: 40px;
    }

}


@media (orientation: landscape){
    .logo{
        cursor: default;
        margin-top: -41px;
        width: 14%;
        margin-left: 1rem;
    }
    nav{
        margin-left: 90%;
        margin-top: -10%;
    }
    .cabeçalio {
        height: 19%;
        width: 100%;
        position: fixed;
        background: var(--bg-color);
        z-index: 999;
    }
    .pratica .btn-custom {
        margin-left: 44%;
    }
    .caixa-valores .btn-custom {
        margin-left: 44%;
        width: 120px;
    }
    .logo-footer {
        cursor: default;
        width: 20%;
        margin-left: -68rem;
        margin-top: -2%;
    }
    .footer-caixa {
        position: relative;
        top: -44%;
    }
}

@media screen and (min-width: 600px) and (max-width: 830px){
    .logo{
        cursor: default;
        margin-top: -4px;
        width: 14%;
    }
    nav{
        margin-left: 90%;
        margin-top: -14%;
    }
    .cabeçalio {
        height: 22%;
        width: 100%;
        position: fixed;
        background: var(--bg-color);
        z-index: 999;
    }

    .logo-footer{
        cursor: default;
        width: 26%;
        margin-left: -34rem;
        margin-top: 4%;
    }
    footer{
        text-align: center;
        background: var(--h2);
        height: 25rem;
    }
    .footer-caixa{
        position: relative;
        top: -15%;
    }
    .pratica .btn-custom{
        margin-left: 43%;
       }
       .caixa-valores .btn-custom{
        margin-left: 43%;
    }
}